<settings class="struct" size="1 1"><threshold class="double" size="1 1">-0.6500000000</threshold><boxCacheSize class="int" size="1 1">10000</boxCacheSize><nmsLimit class="int" size="1 1">3000</nmsLimit><nmsOverlap class="double" size="1 1">0.3000000000</nmsOverlap><interval class="int" size="1 1">5</interval><minlevel class="int" size="1 1">0</minlevel><maxlevel class="int" size="1 1">0</maxlevel><doublePrecision class="int" size="1 1">5</doublePrecision><faceHeight class="int" size="1 1">100</faceHeight><findBuffer class="int" size="1 1">100</findBuffer><outputType class="int" size="1 1">4</outputType></settings>
